@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <link href="@Url.Content("~/Content/bookManage.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Quản lý sách</title>
</head>

<body>
    <section class="main-screen">
        <div class="home-overlay">
            <div class="container home-inner">
                <section class="testimonials wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Sách <span class="badge">(@ViewBag.slS)</span></h3>
                            <a href="~/Book/AddBook"><button class="btn btn-danger" type="submit">Thêm sách</button></a>
                        </div>
                        <div class="search">
                            <div class="col-md-6">
                                <form action="~/Book/BookManage" method="post">
                                    <div class="input-group">
                                        <input type="text" id="id" name="id" class="form-control" placeholder="Tìm kiếm theo tên sách...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger" type="submit">Go!</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div><!-- /.col-lg-6 -->
                        </div>
                    </div>

                    <ul class="testi_boxs">
                        <div class="well sidebar-nav">
                            <ul class="nav">
                                <div class="row">
                                    @foreach (var item in ViewBag.DsS)
                                    {
                                        <div class="col-md-4" style="margin-left:12px ;margin-right: 10px; max-height: 400px; min-height:400px;">
                                            <li>
                                                <h2>
                                                    <a href="~/Book/Detail?id=@item.MaSach">
                                                        @item.MaSach
                                                    </a>
                                                </h2>
                                                <p style="text-align:center;">@item.TenSach</p>
                                                <img src="~/@item.HinhSach" alt="Image" style="width:100%;">
                                            </li>
                                        </div>
                                    }
                                </div>
                            </ul>
                        </div>
                    </ul>
                </section>
            </div>
        </div>
    </section>
</body>
</html>